<!DOCTYPE html>
<html>
<head></head>

<body>
<p id="receipt" style="margin: 20px 30px;">{{receipt}}</p>
<div id="preview">
    <img id="robot" src="{{screenshot}}" alt="robot" style="width: 10%;height: auto; margin-left: 150px;">
</div>
</body>
</html>